* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins',sans-serif;
}
nav {
    height: 70px;
    display: flex;
    padding: 20px 30px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.heroo
{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.hero--grid
{
align-self: center;
max-width: 400px;
}
.hero--head{
    margin-bottom:0%;
}
.hero--pad{
    margin-top: 0px;
}
.cards
{
    width: 175px;
    
}
.price
{
    font-weight: bold;
}
.card--area{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.card--image
{
    width: 175px;
    height: 245px;
    margin-bottom: 15px;
    border-radius: 9px;
}
.bold{
    font-weight: bold;
}